body {
  background-color: #0e0e0e;
  color: #ffc400;
  font-family: 'Courier New', monospace;
  margin: 5%;
}

h1.retro-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
  text-shadow: 0 0 5px rgb(255, 204, 0), 0 0 10px rgb(0, 255, 30);
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% { text-shadow: 2px 0 rgb(255, 132, 0), -2px 0 rgb(77, 255, 0); }
  25% { text-shadow: -2px 0 rgb(255, 132, 0), 2px 0 rgb(77, 255, 0); }
  50% { text-shadow: 2px 2px rgb(255, 132, 0), -2px -2px rgb(77, 255, 0); }
  75% { text-shadow: -2px 2px rgb(255, 132, 0), 2px -2px rgb(77, 255, 0); }
  100% { text-shadow: 2px 0 rgb(255, 132, 0), -2px 0 rgb(77, 255, 0); }
}

.intro {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ffc800;
}

.service-card {
  background-color: #1a1a1a;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: none;
  outline: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.glow-border {
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid rgb(255, 208, 0);
  box-shadow: 0 0 10px rgb(157, 255, 0), 0 0 20px rgba(0, 251, 29, 0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.glow-border img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-body h5,
.card-body p,
.card-body .price {
  color: #fff;
}

.card-body h5 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.card-body p {
  font-size: 1rem;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  color: #ffe600;
  margin-top: 1rem;
}

button#toggleBtn {
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid rgb(255, 208, 0);
  color: rgb(255, 217, 0);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 5%;
}

.descript {
  padding-top: 5%;
}

button#toggleBtn:hover {
  background-color: rgb(255, 207, 14);
  color: #000;
}

@media (max-width: 576px) {
  .card-body h5 {
    font-size: 1.1rem;
  }

  .card-body p {
    font-size: 0.95rem;
  }

  .price {
    font-size: 1rem;
  }

  .descript{
    padding-top: 5%;
  }

  /* Oculta los controles del carrusel en móvil */
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

/* A partir de 768px (pantalla de tablet o PC), se muestran */
@media (min-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 5%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1) drop-shadow(0 0 4px #00ffff);
    width: 2rem;
    height: 2rem;
  }
}

}