/* General */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #60ffff, #d6da00);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Botón principal */
#mainBtn {
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, #000000, #ff00ea);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 4px 10px rgba(212, 0, 255, 0.6);
    transition: transform 0.2s, box-shadow 0.2s;
}

#mainBtn:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(255, 0, 98, 0.9);
}

.hidden{
    opacity: 0;
    pointer-events: none;
}

/* Menú radial */
#radialMenu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0.8);
}

#radialMenu.show {
    opacity: 1;
    transform: scale(1);
}

/* Opciones */
.option {
    width: 220px;
    padding: 18px 22px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Quiromasaje - Verde Relajante  xx*/
#option2 {
    background: linear-gradient(45deg, #4caf50, #2e7d32);
    box-shadow: 0px 4px 10px rgba(76, 175, 80, 0.6);
    border-color: greenyellow;
}

#option2:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(76, 175, 80, 0.9);
}

/* Desarrollo - Azul Tecnológico */
#option1 {
    background: linear-gradient(45deg, #3b5998, #192f6a);
    box-shadow: 0px 4px 10px rgba(59, 89, 152, 0.6);
    border-color: chocolate;
}

#option1:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(59, 89, 152, 0.9);
}
